/**
*   Seccion para complementar selectores o elementos sin estilo
*
*/

.samp-block {
    margin: 0.5rem 0 1rem;
    padding: 0.8rem;
    border-radius: 0.4rem;
    background-color: var(--clight);
    border: 1px solid var(--cmed);
    color: var(--cfg);
}

/**
*   Seccion para personalizar la pagina de error 404.
*
*/

.error-404-page {
    position: relative;
    height: 60vh;
}

.error-404-code {
    position: absolute;
    bottom: 0;
    width: fit-content;
}

.error-404-icon {
    position: absolute;
    top: 5rem;
    right: 0;
    background-image: url(/assets/images/404-icon.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    background-clip: border-box;
    height: 50vh;
    z-index: -1;
}

/**
* Seccion controla la enumeración en la lista del temario
*
*/

.main-list,
.list-level-1,
.list-level-2,
.list-level-3 {
    list-style: none;
    padding-left: 1em;
    margin: 0;
}

.main-list {
    counter-reset: section;
}

.main-list>li {
    counter-reset: section-1;
    cursor: pointer;
}

.main-list .list-item {
    padding: 2px 4px;
    border-radius: 3px;
}

.main-list .list-item:hover {
    color: var(--cemph);
    background-color: var(--cbg);
}

.main-list>li::before {
    counter-increment: section;
    content: counter(section) ". ";
}

.main-list .list-level-1>li {
    counter-reset: section-2;
    cursor: pointer;
}

.main-list .list-level-1>li::before {
    counter-increment: section-1;
    content: counter(section) "." counter(section-1) ". ";
}

.main-list .list-level-1 .list-level-2>li {
    counter-reset: section-3;
    cursor: pointer;
}

.main-list .list-level-1 .list-level-2>li::before {
    counter-increment: section-2;
    content: counter(section) "." counter(section-1) "." counter(section-2) ". ";
}

.main-list .list-level-1 .list-level-2 .list-level-3>li {
    cursor: pointer;
}

.main-list .list-level-1 .list-level-2 .list-level-3>li::before {
    counter-increment: section-3;
    content: counter(section) "." counter(section-1) "." counter(section-2) "." counter(section-3) ". ";
}

/** 
* Seccion para decorar el texto dentro de <code>.
*
*/

.ͼl {
    color: #ac4f23;
}

.ͼn {
    color: #b8802b;
}

.ͼk {
    color: #3a843f;
}

.ͼj {
    color: var(--clink);
    filter: sepia(40%)
}

.ͼf,
.ͼo {
    /* color: #1f4e94; */
    color: var(--clink);
    filter: brightness(33%);
}

.ͼg {
    color: #ab4f7a;
    padding: 0 3px;
    font-weight: bold;
}

.ͼm {
    color: var(--cemph);
    filter: brightness(65%);
}

.ͼe {
    color: var(--cemph);
    font-style: italic;
    filter: sepia(55%)
}