/**
*   Seccion para complementar selectores o elementos sin estilo
*
*/

:root {
    interpolate-size: allow-keywords;
    scroll-behavior: smooth;
}

strong,
b {
    font-weight: bold;
}

.row>.col>li {
    margin-left: 1rem;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

#headerPage,
#mainContent {
    scroll-margin-top: 4rem;
}

#bloque01,
#bloque02,
#bloque03,
#bloque04,
#bloque05,
#bloque06,
#bloque07 {
    scroll-margin-top: 6rem;
}

.main-content {
    display: grid;
    grid-area: 1fr;
}

.logo-web {
    background-image: url(/assets/images/favicon.ico);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 3.5rem !important;
    font-weight: bold;
}

.borderless {
    border: none;
    outline: none;
}

.list-blocks {
    position: fixed;
    display: flex;
    justify-content: end;
    right: 1rem;
    z-index: 1;
    gap: 0;
}

.list-blocks .symbol {
    place-self: center;
}

.list-blocks .symbol:hover+.card,
.list-blocks .card:hover {
    visibility: visible;
    opacity: 1;
    width: fit-content;
}

.list-blocks .symbol span {
    cursor: pointer;
    padding: 1rem 0.25rem;
    font-weight: bold;
    font-size: medium;
    transform: rotate(0.3turn);
    border-start-start-radius: 6px;
    border-end-start-radius: 6px;
    background-color: var(--cbg);
    color: var(--cfg);
    border: 1px solid var(--cmed);
}

.list-blocks .card {
    visibility: collapse;
    opacity: 0;
    display: flex;
    width: 0;
    flex-direction: column;
    margin: 0;
    padding-bottom: 0.6rem;
    background-color: var(--cbg);
    font-size: small;
    gap: 0.25rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: all 300ms ease-in-out;
}

.list-blocks .card p {
    font-size: medium;
    font-weight: bold;
}

.list-blocks .card a {
    padding: 0.25rem 0.6rem;
    font-size: small;
    font-weight: 600;
    border-radius: 0.25rem;
    overflow: hidden;
}

.list-blocks .card a:hover {
    background-color: var(--cemphbg);
}


.float-span {
    position: absolute;
    padding: 0.5em;
    background-color: var(--cemphbg);
    border-top: 2px solid var(--clink);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--cfg);
}

.float-span::after {
    content: ":";
}

hr+pre,
hr+p {
    margin-top: 1.75rem;
}

pre {
    text-wrap: auto;
    /*white-space: pre-line;*/
}

pre:has(> samp) {
    padding: 0.8rem;
    border-radius: 0.4rem;
    background-color: var(--clight);
    border: 1px solid var(--cmed);
    color: var(--cfg);
}

pre>samp {
    display: block;
}

pre:has(> .cm-line) {
    padding: 0.8rem;
    border-radius: 0.4rem;
    background-color: var(--clight);
    border: 1px solid var(--cmed);
    border-left: .4rem solid var(--cemph);
    color: var(--cfg);
}

pre>.cm-line {
    font: var(--font-c);
    margin: 0;
    position: relative;
    padding: .2em;
}


/**
* Seccion para complementar el menu superior <nav>
*
*/

.menu-top li {
    color: var(--cemph);
}

.menu-top li>a {
    font-size: large;
}

.menu-top li:hover:not(.logo-web) {
    cursor: pointer;
    color: var(--clink);
    background-color: var(--cemphbg);
}

.menu-top ul>li>ul {
    margin-top: 0.75rem;
    padding: 0.5rem 0;
}

.menu-top ul>li>ul hr {
    margin: 0.5rem;
}

.menu-top ul>li>ul>li {
    padding: 0.5rem 1rem;
}


/**
*   Seccion para personalizar la pagina de error 404.
*
*/

.error-404-page {
    position: relative;
    height: 60vh;
}

.error-404-code {
    position: absolute;
    bottom: 0;
    width: fit-content;
}

.error-404-icon {
    position: absolute;
    top: 5rem;
    right: 0;
    background-image: url(/assets/images/404-icon.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    background-clip: border-box;
    height: 50vh;
    z-index: -1;
}

/**
* Seccion controla la enumeración en la lista del temario
*
*/

.main-list,
.list-level-1,
.list-level-2,
.list-level-3,
.list-level-4 {
    list-style: none;
    margin: 0;
}

.main-list {
    position: sticky;
    top: 4rem;
    counter-reset: section;
}

.main-list>li {
    counter-reset: section-1;
    cursor: pointer;
}

.list-level-1,
.list-level-2,
.list-level-3,
.list-level-4 {
    padding-left: 1rem;
}

.main-list .list-item {
    padding: 2px 4px;
    border-radius: 3px;
    transition: all 150ms ease;
    background-color: var(--cemphbg);
}

.main-list .list-item+.list-level-1,
.main-list .list-item+.list-level-2,
.main-list .list-item+.list-level-3 {
    visibility: collapse;
    height: 0;
    transition: height 350ms ease-in 150ms;
}

.main-list .list-item:hover+.list-level-1,
.main-list .list-item:hover+.list-level-2,
.main-list .list-item:hover+.list-level-3 {
    height: auto;
    visibility: visible;
}

.main-list .list-item+.list-level-1:hover,
.main-list .list-item+.list-level-2:hover,
.main-list .list-item+.list-level-3:hover {
    height: fit-content;
    visibility: visible;
}

.main-list .list-item:hover {
    color: var(--cemph);
    background-color: var(--cbg);
}

.main-list>li::before {
    counter-increment: section;
    content: counter(section) ". ";
}

.main-list .list-level-1>li {
    counter-reset: section-2;
    cursor: pointer;
}

.main-list .list-level-1>li::before {
    counter-increment: section-1;
    content: counter(section) "." counter(section-1) ". ";
}

.main-list .list-item:has(+.list-level-1)::after,
.main-list .list-item:has(+.list-level-2)::after,
.main-list .list-item:has(+.list-level-3)::after,
.main-list .list-item:has(+.list-level-4)::after {
    content: '⯆';
    margin-left: 0.25rem;
    transition: all 350ms ease;
}

.main-list .list-level-1 .list-level-2>li {
    counter-reset: section-3;
    cursor: pointer;
}

.main-list .list-level-1 .list-level-2>li::before {
    counter-increment: section-2;
    content: counter(section) "." counter(section-1) "." counter(section-2) ". ";
}

.main-list .list-level-1 .list-level-2 .list-level-3>li {
    counter-reset: section-4;
    cursor: pointer;
}

.main-list .list-level-1 .list-level-2 .list-level-3>li::before {
    counter-increment: section-3;
    content: counter(section) "." counter(section-1) "." counter(section-2) "." counter(section-3) ". ";
}


.main-list .list-level-1 .list-level-2 .list-level-3 .list-level-4>li {
    cursor: pointer;
}

.main-list .list-level-1 .list-level-2 .list-level-3 .list-level-4>li::before {
    counter-increment: section-4;
    content: counter(section) "." counter(section-1) "." counter(section-2) "." counter(section-3) "." counter(section-4) ". ";
}

/** 
* Seccion para decorar el texto dentro de <pre><code> ... </code></pre>.
*
*/

.ͼl {
    color: #ac4f23;
}

.ͼn {
    color: #b8802b;
}

.ͼk {
    color: #3a843f;
}

.ͼj {
    color: var(--clink);
    filter: sepia(40%)
}

.ͼf,
.ͼo {
    /* color: #1f4e94; */
    color: var(--clink);
    filter: brightness(33%);
}

.ͼg {
    color: #ab4f7a;
    padding: 0 3px;
    font-weight: bold;
}

.ͼm {
    color: var(--cemph);
    filter: brightness(65%);
}

.ͼe {
    color: var(--cemph);
    font-style: italic;
    filter: sepia(55%)
}

.ͼz {
    color: #83d197;
}

.cm-line {
    display: block;
    padding: 0 2px 0 6px;
}

.ͼ10 {
    color: #f1a275;
}

.ͼ11 {
    color: #b897f4;
}

.ͼ12 {
    color: #f9dc78;
}